<!-- Individual values -->
<?php foreach ($locales as $code => $name): ?>
    <?php
        $value = $this->getLocaleValue($code);
        $value = $this->isLocaleFieldJsonable() ? json_encode($value) : $value;
        $fieldName = $field->getName('RLTranslate['.$code.']');

        //FIXME: HACK by Al-Ka
        if (strpos($field->fieldName, 'mlnf_') === 0) {
            $arrayName = $field->arrayName;
            $arrayNameShort = $arrayName ? substr($arrayName, strpos($arrayName, '['), strlen($arrayName)) : '';
            $fieldName = $field->getName('RLTranslate['.$code.'][mlnf]' . $arrayNameShort);

            if ($code != 'en') {
                $nameInArray = \October\Rain\Html\Helper::nameToArray($arrayName);
                $parentValue = $this->model->lang($code)->{$nameInArray[1]};
                unset($nameInArray[0]);
                unset($nameInArray[1]);
                $nameInArray[] = $field->fieldName;
                $nameInString = implode('.', $nameInArray);
                $value = array_get($parentValue, $nameInString);
            }
        } elseif($field->config['type'] === 'mlnestedform') {
            continue;
        }
        //END: HACK by Al-Ka
    ?>
    <input
        type="hidden"
        name="<?= $fieldName ?>"
        value="<?= e($value) ?>"
        data-locale-value="<?= $code ?>"
        <?= $field->getAttributes() ?>
    />
<?php endforeach ?>
